{{#if error}}
No se encontro contacto, <a href="/"> volver</a>
{{else}}

<div class="columns is-centered">
    <div class="column is-half has-text-centered">
        <h1 class="title">Contacto</h1>
        <hr>
        <div class="field">
            <p><b>Nombre: </b><br> {{datos.nombre}}</p>
        </div>
        <div class="field">
            <p><b>Telefono: </b> <br> {{datos.telefono}}</p>
        </div>

        <div class="field">
            <p><b>email: </b><br> {{datos.email}}</p>
        </div>

        <section class="section">
            <div class="columns">
            <div class="column">
                
                    <div class="field">
                        <div class="control">
                            <a href="/contacto" class="button is-info is-fullwidth">Ver todos los contactos</a>
                        </div>
                    </div>
                
            </div>
            <div class="column">
                
                    <div class="field">
                        <div class="control">
                            <a href="/contacto/{{datos.id}}/mail" class="button is-primary is-fullwidth">Enviar Email</a>
                        </div>
                    </div>
                
            </div>
            <div class="column">
                
                    <div class="field">
                        <div class="control">
                            <a href="/contacto/{{datos.id}}/delete" class="button is-danger is-fullwidth">Borrar</a>
                        </div>
                    </div>
                
            </div>
        </div>
        </section>

    </div>
</div>
{{/if}}